/lib/
.gitmodules
.gdb_history
stdio.h
**/SQLite
**/*.tar.gz
**/*.tar.xz
**/nginx
**/memcached
**/coreutils_dir
**/.direnv

audiofile/*
!audiofile/ID-*
coreutils/*
flac/*
!flac/ID-*
jasper/*
!jasper/ID-*
libgd/*
!libgd/ID-*
libjpeg-turbo/*
!libjpeg-turbo/ID-*
libtiff/*
!libtiff/ID-*
tcpdump/*
!tcpdump/ID-*
w3m/*
!w3m/ID-*
zlib/*
!zlib/ID-*
libtasn/*
!libtasn/ID-*
file/*
!file/ID-*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache
*.egg-info/
.installed.cfg
*.egg
MANIFEST
